{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "no-extra-parens": ["error", "all", { "nestedBinaryExpressions": false }]
}
